.containerCatalog {
  width: 350px;
  height: 45px;
  box-shadow: 5px 5px 6px 5px rgb(122, 121, 121);
  background-color: rgb(125, 190, 228);
}

@media (max-width: 422px) {
  .containerCatalog {
    margin-left: 50px;
  }
}
